body {
  height: 100%;
}

#content {
  position:absolute;
  width: 100%;
  top:50%;
  margin-top: -150px;
}

#name {
  font-family: Helvetica;
  font-size: 120px;
  text-align: center;
}

#logos {
  position: absolute;
  width: 350px;
  height: 200px;
  left: 50%;
  margin-left: -182px;
}

#linkedin, #github {
  margin: 25px;
  position: relative;
  width: 125px;
  height: 125px;
  float: left;
}
