---
import '../styles/global.css';
---

<html lang="pl" class="h-full">
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="MqwmI_MYgeIbYFBCLprAjoG5yR6wRY2VguQGhTfWTuY" />
    <title>magullab - Tomasz Magulski</title>
  </head>
  <body class="h-full bg-[var(--color-bg)]">
    <div class="flex flex-col items-center justify-center h-screen">
      <h1 class="text-[120px] font-sans text-center text-[var(--color-text)]">Tomasz Magulski</h1>
      <div class="flex gap-[50px] mt-8">
        <div class="w-[125px] h-[125px] opacity-80 hover:opacity-100 transition-opacity">
          <a href="https://pl.linkedin.com/in/tomasz-magulski-499b2511" target="_blank">
            <img src="/images/linkedin.png" alt="LinkedIn" />
          </a>
        </div>
        <div class="w-[125px] h-[125px] opacity-80 hover:opacity-100 transition-opacity">
          <a href="https://github.com/magul" target="_blank">
            <img src="/images/github.png" alt="GitHub" />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
