---

---

<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="MqwmI_MYgeIbYFBCLprAjoG5yR6wRY2VguQGhTfWTuY" />
    <title>magullab - Tomasz Magulski</title>
    <link rel="stylesheet" href="/magullab.css">
  </head>
  <body>
    <div id="content">
      <div id="name">Tomasz Magulski</div>
      <div id="logos">
        <div id="linkedin">
          <a href="https://pl.linkedin.com/in/tomasz-magulski-499b2511" target="_blank">
            <img src="/images/linkedin.png" />
          </a>
        </div>
        <div id="github">
          <a href="https://github.com/magul" target="_blank">
            <img src="/images/github.png" />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
